# Funkcje - uzupełnienie 2:

### Argumenty funkcji z wartościami domyślnymi:

Argumentom funkcji można przypisć wartość domyślną (w definicji funkcji). Dla takich argumentów nie ma konieczności precyzowania konkretnej wartości w trakcie wywołania funkcji.

In [1]:
# Definicja funkcji z 2 argumentami pozycyjnymi i jednym argumentem z wartością domyślną:
def test_func(a, b, c=73):
    print(f"a: {a}, b: {b}, c: {c}")

# Wywołanie funkcji bez precyzowania wartości argumentu c:
test_func(1, 2)

# Jawne precyzowanie wartości argumentu c:
test_func(1, 2, c=3)

# Wartość argumentu c wynika z kolejności przekazywania argumentów w wywołaniu funkcji:
test_func(1, 2, 7)

a: 1, b: 2, c: 73
a: 1, b: 2, c: 3
a: 1, b: 2, c: 7

In [2]:
def test_func2(a, b=73, c="kot"):
    print(f"a: {a}, b: {b}, c: {c}")

# Wartości argumentów a, b i c wynikają z kolejności przekazywania argumentów w wywołaniu funkcji:
test_func2(2, 0, -1)

# Przy definiowaniu wartości argumentów w sposób jawny nie musi być zachowana kolejność:
test_func2(2, c="pies", b=0)

# Można pomijać niektóre argumenty z wartością domyślną:
test_func2(2, c="kanarek")

a: 2, b: 0, c: -1
a: 2, b: 0, c: pies
a: 2, b: 73, c: kanarek

# Konstruktory typów wbudowanych:

- int:
```Python
a = int()
```

- float:
```Python
a = float()
```

- complex:
```Python
a = complex()
```

- str:
```Python
a = str()
```

- list:
```Python
a = list()
```

- tuple:
```Python
a = tuple()
```

- dict:
```Python
a = dict()
```

- set:
```Python
a = set()
```

### Przykłady:

In [3]:
a = int("73")

print(a)
print(type(a))

73
<class 'int'>

In [4]:
a = {1, 6, 2, 8}
b = list(a)

print(b)
print(type(b))

[8, 1, 2, 6]
<class 'list'>

In [5]:
m = map(lambda x: x ** 2, range(8))
a = list(m)

print(a)
print(type(a))

[0, 1, 4, 9, 16, 25, 36, 49]
<class 'list'>

# Funkcja wbudowana **map**:

Funkcja wbudowana **map** przyjmuje dwa parametry:
- funkcję - definiującą regułę zgodnie z którą mają być obliczane kolejne wartości (na podstawie elementów z obiektu iterowalnego),
- obiekt iterowalny - kolekcja zawierająca elementy do przeliczenia.

Funkcja **map** zwraca iterator (**map**). Na tym etapie właściwe obliczenia nie są jeszcze przeprowadzane (stosowane jest tutaj leniwe wartościowanie - wartości są wyznaczane dopiero wtedy kiedy to niezbędne).

Funkcja przekazywana w wywołaniu funkcji **map** przyjmuje jako parametr kolejne wartości z **obiektu iterowalnego** (przekazanego jako drugi argument funkcji **map**). Przekształcenie może zwracać dowolne wartości.

In [6]:
# Lista wartości do zmapowania:
a = [1, 2, 3, 4, 5]

# Przekształcenie ma na celu zwiększenie każdej liczby z listy a o 1:
m = map(lambda x: x + 1, a)
print(m)
print(type(m))

<map object at 0x0000018A1C4D4820>
<class 'map'>

In [7]:
a = [1, 2, 3, 4, 5]
m = map(lambda x: x + 1, a)

# Zbudowanie listy na podstawie mapy:
b = list(m)

print(b)

[2, 3, 4, 5, 6]

In [8]:
a = [1, 2, 3, 4, 5]
m = map(lambda x: x + 1, a)

# Mapy są iterowalne, więc można uzyskiwać z nich kolejne elementy przy pomocy pętli for:
for value in m:
    print(value)

2
3
4
5
6

In [9]:
# Zamiast lambdy można rówież używać zwykłych funkcji (czasami jest to niezbędne,
# zwłaszcza wtedy kiedy przekształcenie jest skomplikowane):
def inc(x):
    return x + 1


a = [1, 2, 3, 4, 5]
m = map(inc, a)

print(list(m))

[2, 3, 4, 5, 6]

# Funkcja wbudowana **filter**:

Funkcja wbudowana **filter** przyjmuje dwa parametry:
- funkcję - definiującą regułę zgodnie z którą mają być filtrowane kolejne wartości (z obiektu iterowalnego),
- obiekt iterowalny - kolekcja zawierająca elementy do przefiltrowania.

Funkcja **filter** podobnie jak funkcja **map** zwraca iterator (**filter**) - również jest tu stosowane leniwe wartościowanie.

Funkcja przekazywana w wywołaniu funkcji **filter** przyjmuje jako parametr kolejne wartości z obiektu iterowalnego. Funkcja ta powinna zwracać wartości **True** (wartość zostaje) albo **False** (wartość zostaje odfiltrowana).

In [10]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Filtrowanie wartości nieparzystych:
f = filter(lambda x: x % 2 == 0, a)

print(list(f))

[2, 4, 6, 8]

# Zastosowania **map** i **filter**:

In [11]:
text = "To Izma - królewski doradca . Żywy dowód , że kiedyś po ziemi stąpały dinozaury ."

words = text.split()

# Map i filter pozwala na budowanie potoków:
words_only = filter(lambda x: len(x) > 1, words)
words_upper = map(lambda x: x.upper(), words_only)

for word in words_upper:
    print(f"{word} : {len(word)}")

TO : 2
IZMA : 4
KRÓLEWSKI : 9
DORADCA : 7
ŻYWY : 4
DOWÓD : 5
ŻE : 2
KIEDYŚ : 6
PO : 2
ZIEMI : 5
STĄPAŁY : 7
DINOZAURY : 9

# Funkcja wbudowana **enumerate**:

Funkcja **enumerate** każdemu elementowi obiektu iterowalnego przypisuje jego indeks - jak sama nazwa wskazuje, funkcja ta wylicza.

In [12]:
a = ["kot", "pies", "kanarek", "rybki", "chomik"]

# Funkcja enumerate w każdej iteracji zwraca krotkę: (index, element):
for index, word in enumerate(a):
    print(f"[{index}] {word}")

[0] kot
[1] pies
[2] kanarek
[3] rybki
[4] chomik

# Funkcja wbudowana **zip**:

Funkcja **zip** umożliwia jednoczesne iterowanie po dwóch lub więcej obiektach iterowalnych:

In [13]:
a = [4, 2, 6, 7, 8]
b = [8.67, 2.54, 1.23, 6.54, 2.96]
c = ["kot", "pies", "kanarek", "rybki", "chomik", "meduza"]

# Iterowanie po 3 kolekcjach jednocześnie (koniec wyznacza najkrótsza kolekcja):
for value_a, value_b, value_c in zip(a, b, c):
    print(value_a, value_b, value_c)

4 8.67 kot
2 2.54 pies
6 1.23 kanarek
7 6.54 rybki
8 2.96 chomik

# **try/except** - obsługa wyjątków:

In [14]:
a = "kot"
b = a / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

W Pythonie niektóre operacje mogą się nie powieść. Zwracany jest wtedy komunikat o wystąpieniu błędu. W skład treści tego komunikatu wchodzi nazwa błędu (powyżej: *TypeError*) oraz dokładniejszy opis tego, co poszło nie tak (powyżej: *unsupported operand type(s) for /: 'str' and 'int'*).

W ogólym przypadku wystąpienie błędu przerywa wykonanie całego programu. Jeśli jednak błąd wystąpi w bloku **try** możliwa jest jego obsługa w bloku **except**.

In [15]:
try:
    # W przypadku wystąpienia wyjątku w tym bloku,
    # sterowanie programu przenosi się do bloku except:
    a = "kot"
    b = a / 3
except:
    # Tutaj zazwyczaj następuje obsługa wyjątku:
    print("Wystąpił błąd :(")

Wystąpił błąd :(

Można przechwytywać konkretne wyjątki (exceptions):

In [16]:
try:
    a = "kot"
    b = a / 3
except KeyError:
    print("KeyError :(")
except TypeError:
    print("TypeError :(")

TypeError :(

Można przypisywać wartość wyjątu do zmiennej:

In [17]:
try:
    a = "kot"
    b = a / 3
except KeyError as error:
    print(type(error))
    print(error)
except TypeError as error:
    print(type(error))
    print(error)

<class 'TypeError'>
unsupported operand type(s) for /: 'str' and 'int'

Kiedy nie wiadomo jakiego typu jest/będzie wyjątek można użyć **Exception**:

In [18]:
try:
    a = "kot"
    b = a / 3
except Exception as error:
    print(type(error))
    print(error)

<class 'TypeError'>
unsupported operand type(s) for /: 'str' and 'int'

# Blok **else**:

Czasami logika programu wymaga tego, aby jakiś kod został wykonany tylko wtedy kiedy w bloku **try** nie wystąpił żaden błąd. W tym celu stosuje się blok **else**.

In [19]:
try:
    a = "kot"
    b = a / 3
except Exception as error:
    print(type(error))
    print(error)
else:
    print(b)
    print("Wszystko jest OK!")

<class 'TypeError'>
unsupported operand type(s) for /: 'str' and 'int'

In [20]:
try:
    a = 15
    b = a / 3
except Exception as error:
    print(type(error))
    print(error)
else:
    print(b)
    print("Wszystko jest OK!")

5.0
Wszystko jest OK!

# Blok **finally**:

Kod z bloku finally wykonuje się zawsze - niezależnie od tego czy błąd wystąpił, czy nie. W tym bloku często zamyka się otwarte pliki, zwalnia zajmowaną pamięć (wywołuje metody clear), itp...

# Raise:

Wyjątek można stworzyć na żądanie:

In [21]:
try:
    raise Exception("Nowy błąd!")
except Exception as error:
    print(type(error))
    print(error)

<class 'Exception'>
Nowy błąd!

# Obsługa wyjątków - składnia:

```
try:
    [kod którego wykonanie może się nie powieść]
except <err_1>:
    [obsługa err_1]
except <err_2>:
    [obsługa err_2]
...

else:
    [kod wykonujący się tylko wtedy, kiedy nie wysąpiły żadne błędy]
finally:
    [kod wykonujący sie zawsze]
```

# Ćwiczenia (na zajęcia):

#### 1. Napisz funkcję podnoszącą liczbę **x** do potęgi **a**. Jeśli parametr **a** nie został podany w wywołaniu, funkcja powinna zwrócić wartość **x^2**:

#### 2. Czy poniższa funkcja została zdefiniowana poprawnie?

```Python
def test_func(a=1, b, c=43):
    print(a, b, c)
```

#### 3. Napisz mapę obliczającą w(x) dla kolejnych x z listy **a**:

$$w(x) = 5x^2 - 6x + 7$$

```Python
a = [7.65, 3.87, 2.32, 6.54, 2.34, 0.92]
```

#### 4. Napisz mapę, która dla **0 < x < 20** zwraca listy dzielników **x**.

#### 5. Napisz mapę, która dla każdej linijki poniższego pliku PDB zwraca krotkę: (numer atomu, nazwa atomu, nazwa residuum).

```Python
pdb = """ATOM    313  N   GLU A  41      54.850  44.463  33.220  1.00 15.86           N  
ATOM    314  CA  GLU A  41      53.548  44.398  33.880  1.00 16.58           C  
ATOM    315  C   GLU A  41      53.309  43.096  34.648  1.00 16.34           C  
ATOM    316  O   GLU A  41      52.452  43.041  35.530  1.00 17.18           O  
ATOM    317  CB  GLU A  41      52.416  44.550  32.859  1.00 17.59           C  
ATOM    318  CG  GLU A  41      52.183  45.960  32.369  1.00 20.40           C  
ATOM    319  CD  GLU A  41      50.773  46.142  31.821  1.00 18.63           C  
ATOM    320  OE1 GLU A  41      49.819  45.629  32.453  1.00 21.92           O  
ATOM    321  OE2 GLU A  41      50.609  46.804  30.773  1.00 20.56           O  
ATOM    322  N   PHE A  42      54.054  42.046  34.313  1.00 16.51           N  
ATOM    323  CA  PHE A  42      53.842  40.753  34.962  1.00 15.57           C  
ATOM    324  C   PHE A  42      54.074  40.743  36.468  1.00 15.34           C  
ATOM    325  O   PHE A  42      53.574  39.868  37.172  1.00 15.43           O  
ATOM    326  CB  PHE A  42      54.690  39.673  34.278  1.00 14.93           C  
ATOM    327  CG  PHE A  42      54.134  39.210  32.949  1.00 15.45           C  
ATOM    328  CD1 PHE A  42      53.661  40.127  32.011  1.00 16.29           C  
ATOM    329  CD2 PHE A  42      54.104  37.855  32.632  1.00 16.52           C  
ATOM    330  CE1 PHE A  42      53.166  39.698  30.777  1.00 16.03           C  
ATOM    331  CE2 PHE A  42      53.614  37.414  31.404  1.00 16.10           C  
ATOM    332  CZ  PHE A  42      53.145  38.335  30.473  1.00 16.07           C  
ATOM    333  N   SER A  43      54.812  41.730  36.961  1.00 16.01           N  
ATOM    334  CA  SER A  43      55.095  41.827  38.386  1.00 15.02           C  
ATOM    335  C   SER A  43      53.796  41.953  39.184  1.00 15.37           C  
ATOM    336  O   SER A  43      53.731  41.542  40.344  1.00 16.27           O  
ATOM    337  CB  SER A  43      55.990  43.042  38.662  1.00 15.61           C  
ATOM    338  OG  SER A  43      57.210  42.970  37.927  1.00 15.28           O""".split("\n")
```

#### 6. Napisz filtr odrzucający wyrazy z listy **a** jeśli ich długości nie są liczbami parzystymi.

```Python
a = ["kot", "pies", "kanarek", "rybki", "chomik", "meduza"]
```

#### 7. Napisz funkcję obliczającą średnią z liczb przekazaych w liście. Funkcja powinna zwrócić **None** jeśli w liście trafią się wartości inne niż numeryczne. Użyj konstrukcji try/except.

Przykładowe listy:

```Python
a = [7, 5.43, "kot", 6.54, 34, 9.43]
b = [6.54, 2.23, 7.65, 2.85, 2.43, 7.28]
```

#### 8. Funkcja **do_operation** przyjmuje trzy argumenty: **operation** - funkcja, **a** i **b** - argumenty funkcji **operation**. Niewiele wiadomo o funkcji **operation** oraz o jej argumentach. Napisz lepszą wersję funkcji **do_operation** - zabezpieczoną na wypadek wystąpienia wszelkich błędów. Ewentualne błędy powinny być przechwytywane i wypisywane w bloku **except**.

```Python
def do_operation(operation, a, b):
    result = operation(a, b)
    print(result)
```

#### 9. Pracując na fragmencie pliku PDB z zadania 5 napisz filtr zwracający krotki: (numer atomu, nazwa atomu, nazwa residuum) tylko dla linijek opisujących atomy węgla.

Podpowiedź: Można posłużyć się dodatkową mapą.

#### 10. Czy poniższy kod zadziała poprawnie?

```Python
text = "To Izma - królewski doradca . Żywy dowód , że kiedyś po ziemi stąpały dinozaury ."

words = text.split()

words_only = filter(lambda x: len(x) > 1, words)
words_upper = map(lambda x: x.upper(), words_only)
words_lengths = map(lambda x: len(x), words_only)

for word, length in zip(words_upper, words_lengths):
    print(f"{word} : {length}")
```

#### 11. Zbuduj słownik na podstawie kluczy i wartości z list **keys** i **values**. Użyj funkcji wbudowanej **zip**.

```Python
keys = ["kot", "pies", "kanarek", "rybki", "chomik"]
values = [6, 2, 8, 6, 4]
```

# **Zadania:**

#### Zadanie 1:

Napisz program wypisujący długości kolejnych wyrazów z tekstu **a**, ale tylko wtedy gdy długości te są liczbami parzystymi. Ponadto, wyrazy powinny być pozbawione znaków interpunkcyjnych (trzeba usunąć przylegające przecinki i kropki). Użyj funkcji wbudowanych **map**, **filter** i **zip**.

```Python
a = """Van Rossum was born and raised in the Netherlands, where he received a master's degree in mathematics and computer science from the University of Amsterdam in 1982. He received a bronze medal in 1974 in the International Mathematical Olympiad. He has a brother, Just van Rossum, who is a type designer and programmer who designed the typeface used in the "Python Powered" logo."""
```

#### Zadanie 2:

Znajdź wartości mniejsze od zera dla w(x), gdzie 0 <= x < 10. Użyj **map** i **filter**.

$$w(x) = x^2 - 4x + 2$$

#### Zadanie 3:

Napisz odpowiednik poniższego programu używający funkcji wbudowanych **map** i **filter**.

```Python
data = {
    "kot": 43,
    "pies": 29,
    "kanarek": 12,
    "rybki": 73,
    "chomik": 32,
}

data_alter = []

for key, value in data.items():
    data_alter.append((key.upper(), (value / 2) ** 2))

data_filtered = []

for name, value in data_alter:
    if value > 300:
        data_filtered.append((name,  value))

print(data_filtered)
```

#### Zadanie 4:

Oblicz odchylenie standardowe liczb znajdujących się w liście **a**. Użyj funkcji wbudowanych **map**, **sum** oraz **len**.

$$\sigma = \sqrt{\frac{(x_1 - \bar{X})^2 + (x_2 - \bar{X})^2 + ... + (x_n - \bar{X})^2}{n}}$$

```Python
a = [6.43, 1.44, 8.35, 8.32, 2.98, 3.34, 7.17, 4.32, 9.76, 2.34, 6.54, 1.78, 2.76]
```

#### Zadanie 5:

Wyznacz punkt [x, y, z] będący uśrednionym położeniem wszystkich atomów z poniższego fragmentu pliku PDB (trzeba policzyć trzy średnie z kolumn 7, 8, i 9). Użyj funkcji wbudowanych **map**, **sum** oraz **len**.


```Python
pdb = """ATOM    313  N   GLU A  41      54.850  44.463  33.220  1.00 15.86           N  
ATOM    314  CA  GLU A  41      53.548  44.398  33.880  1.00 16.58           C  
ATOM    315  C   GLU A  41      53.309  43.096  34.648  1.00 16.34           C  
ATOM    316  O   GLU A  41      52.452  43.041  35.530  1.00 17.18           O  
ATOM    317  CB  GLU A  41      52.416  44.550  32.859  1.00 17.59           C  
ATOM    318  CG  GLU A  41      52.183  45.960  32.369  1.00 20.40           C  
ATOM    319  CD  GLU A  41      50.773  46.142  31.821  1.00 18.63           C  
ATOM    320  OE1 GLU A  41      49.819  45.629  32.453  1.00 21.92           O  
ATOM    321  OE2 GLU A  41      50.609  46.804  30.773  1.00 20.56           O  
ATOM    322  N   PHE A  42      54.054  42.046  34.313  1.00 16.51           N  
ATOM    323  CA  PHE A  42      53.842  40.753  34.962  1.00 15.57           C  
ATOM    324  C   PHE A  42      54.074  40.743  36.468  1.00 15.34           C  
ATOM    325  O   PHE A  42      53.574  39.868  37.172  1.00 15.43           O  
ATOM    326  CB  PHE A  42      54.690  39.673  34.278  1.00 14.93           C  
ATOM    327  CG  PHE A  42      54.134  39.210  32.949  1.00 15.45           C  
ATOM    328  CD1 PHE A  42      53.661  40.127  32.011  1.00 16.29           C  
ATOM    329  CD2 PHE A  42      54.104  37.855  32.632  1.00 16.52           C  
ATOM    330  CE1 PHE A  42      53.166  39.698  30.777  1.00 16.03           C  
ATOM    331  CE2 PHE A  42      53.614  37.414  31.404  1.00 16.10           C  
ATOM    332  CZ  PHE A  42      53.145  38.335  30.473  1.00 16.07           C  
ATOM    333  N   SER A  43      54.812  41.730  36.961  1.00 16.01           N  
ATOM    334  CA  SER A  43      55.095  41.827  38.386  1.00 15.02           C  
ATOM    335  C   SER A  43      53.796  41.953  39.184  1.00 15.37           C  
ATOM    336  O   SER A  43      53.731  41.542  40.344  1.00 16.27           O  
ATOM    337  CB  SER A  43      55.990  43.042  38.662  1.00 15.61           C  
ATOM    338  OG  SER A  43      57.210  42.970  37.927  1.00 15.28           O""".split("\n")
```

#### Zadanie 6*:

Wyznacz odchylenia standardowe położeń atomów w każdej z trzech osi. Wykorzystaj fragment pliku PDB z *Zadania 5*. Użyj funkcji wbudowanych **map**, **sum** oraz **len**.